################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/inchcalculator/FileContentIndex
/.vs/inchcalculator/v17/.wsuo
